server:
  port: 8080

spring:
  application:
    name: aibookautomation

openai:
  api-key: "api-key넣기"
  endpoint: "https://api.openai.com/v1/chat/completions"

# 각자 경로에 맞게 수정
external:
  book-service:
    url: https://8084-meritending-aipublish1-lsxqilz0e0m.ws-us120.gitpod.io

---

spring:
  profiles: default
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        implicit_naming_strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: aibookautomation
#<<< EDA / Topic Name
          destination: aipublish
#>>> EDA / Topic Name
          contentType: application/json
        event-out:
#<<< EDA / Topic Name
          destination: aipublish
#>>> EDA / Topic Name
          contentType: application/json

logging:
  level:
    org.hibernate.type: trace
    org.springframework.cloud: debug

api:
  url: 
    aibookautomation: localhost:8085 
    

server:
  port: 8085

---

spring:
  profiles: docker
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        implicit_naming_strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
  cloud:
    stream:
      kafka:
        binder:
          brokers: my-kafka:9092
        streams:
          binder:
            configuration:
              default:
                key:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
                value:
                  serde: org.apache.kafka.common.serialization.Serdes$StringSerde
      bindings:
        event-in:
          group: aibookautomation
          destination: aipublish
          contentType: application/json
        event-out:
          destination: aipublish
          contentType: application/json

api:
  url: 
    aibookautomation: aibookautomation:8080 